.App {
	padding: 2rem;
	padding-bottom: 4rem;

	h1 {
		font-size: 2rem;
		margin-bottom: 2rem;
		text-align: center;
	}

	.form-area {
		&.inactive {
			.form-item:not(:first-child) {
				opacity: 0.3;
				pointer-events: none;
			}
		}

		.form-item {
			display: flex;
			flex-direction: column;

			&:not(:first-child) {
				margin-top: 3.2rem;
			}

			.form-item-title {
				margin-bottom: 1rem;
				display: flex;
				align-items: center;
				font-size: 1.2rem;
				opacity: 0.8;
				font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

				.Checkbox {
					margin-left: 1rem;
				}

				&::before, &::after {
					content: '';
					display: block;
					height: 1px;
					flex: 1;
					background-color: var(--clrBg2);
					margin-left: 1rem;
				}

				&::before {
					flex: 0 0 1.2rem;
					margin-left: 0;
					margin-right: 1rem;
				}
			}

			.form-item-content {
				.extra-settings {
					display: flex;
					margin-bottom: 1rem;

					.Checkbox {
						&:not(:first-child) {
							margin-left: 2rem;
						}
					}
				}
			}
		}
	}

	footer {
		margin-top: 2rem;
		border-top: solid 1px var(--clrBg2);
		color: var(--clrText);
		opacity: 0.5;
		font-size: 1.2rem;
		padding-top: 1rem;

		a {
			color: inherit;

			&:hover {
				color: var(--clrTheme) !important;
			}
		}
	}
}
